name: Production Deployment

on:
  push:
    branches: ["master"] # <-- ARTIK MASTER DİNLENİYOR

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: goskyturkey/goskyturkey:latest
          cache-from: type=registry,ref=goskyturkey/goskyturkey:buildcache
          cache-to: type=registry,ref=goskyturkey/goskyturkey:buildcache,mode=max

  deploy-to-server:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.SERVER_PORT }}
          script: |
            cd /root/BURAN_PROJE/GOSKYTURKEY_ANTIGRAVITY
            docker pull goskyturkey/goskyturkey:latest
            docker compose up -d --remove-orphans
            docker image prune -f
